<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src={{ url_for('static', filename='customer/customer_do_xml.js') }}></script>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-12 column" id="switch_button">
                    <h3>
                        CRM系统
                    </h3>
                    <el-button disabled>Customer</el-button>
                    <a href={{ url_for('product.get_products') }}>
                        <el-button>Product</el-button>
                    </a>
                    <a href={{ url_for('trade.get_trades') }}>
                        <el-button>Trade</el-button>
                    </a>
                </div>
            </div>
            <div class="row clearfix">
                <div id="fuck">
                    <el-table id="customer_table"
                              :data="tableData"
                              stripe
                              style="width: 100%">
                        <el-table-column
                                prop="id"
                                label="ID">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="姓名">
                        </el-table-column>
                        <el-table-column
                                prop="sex"
                                label="性别">
                        </el-table-column>
                        <el-table-column
                                prop="age"
                                label="年龄">
                        </el-table-column>
                        <el-table-column
                                prop="phone"
                                label="电话">
                        </el-table-column>
                        <el-table-column
                                prop="option"
                                fixed="right"
                                align="center"
                                label="操作">
                            <template slot-scope="scope">
                                <el-button
                                        @click="edit(scope.row)">编辑
                                </el-button>
                                <el-button
                                        type="danger"
                                        @click="handleDelete(scope.row.id)">删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-dialog title="编辑信息" :visible.sync="dialogFormVisible" width="25%">
                        <el-form :model="edit_data" label-width="50px">
                            <el-form-item label="姓名">
                                <el-input v-model="edit_data.name" placeholder="姓名"></el-input>
                            </el-form-item>
                            <el-form-item label="性别">
                                <el-select v-model="edit_data.sex" placeholder="请选择">
                                    <el-option label="男" value="男"></el-option>
                                    <el-option label="女" value="女"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="年龄">
                                <el-input v-model="edit_data.age" placeholder="年龄"></el-input>
                            </el-form-item>
                            <el-form-item label="电话">
                                <el-input v-model="edit_data.phone" placeholder="电话"></el-input>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible = false">取 消</el-button>
                            <el-button type="primary" @click="edit_submit">确 定</el-button>
                        </div>
                    </el-dialog>
                </div>
                <el-form id="customer_add_form" :inline="true" :model="formInline" class="demo-form-inline">
                    <el-form-item label="姓名">
                        <el-input v-model="formInline.name" placeholder="姓名"></el-input>
                    </el-form-item>
                    <el-form-item label="性别">
                        <el-select v-model="formInline.sex" placeholder="请选择">
                            <el-option label="男" value="男"></el-option>
                            <el-option label="女" value="女"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="年龄">
                        <el-input v-model="formInline.age" placeholder="年龄"></el-input>
                    </el-form-item>
                    <el-form-item label="电话">
                        <el-input v-model="formInline.phone" placeholder="电话"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">添加</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</div>

<script>
    var customer_table = new Vue({
        el: '#fuck',
        data: {
            tableData: prase_xml('{{ customers|tojson }}'),
            dialogFormVisible: false,
            edit_data: {}
        },
        methods: {
            handleDelete: function (id) {
                del(id)
            },
            edit: function (row_data) {
                this.dialogFormVisible = true;
                this.edit_data = {
                    'id': row_data.id,
                    'name': row_data.name,
                    'sex': row_data.sex,
                    'age': row_data.age,
                    'phone': row_data.phone
                }
            },
            edit_submit: function () {
                content = add(this.edit_data.name, this.edit_data.sex, this.edit_data.age, this.edit_data.phone);
                var oSerializer = new XMLSerializer();
                var sXML = oSerializer.serializeToString(content);
                $.ajax({
                    url: '/customer/modify/',
                    data: JSON.stringify({
                        'id': this.edit_data.id,
                        'info': sXML
                    }),
                    type: 'post',
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        if (data.msg == 'success') {
                            this.dialogFormVisible = true;
                            location.reload()
                        }
                    }
                });
            }
        }
    });

    var customer_add_form = new Vue({
        el: '#customer_add_form',
        data() {
            return {
                formInline: {
                    name: '',
                    sex: '',
                    age: '',
                    phone: ''
                }
            }
        },
        methods: {
            onSubmit() {
                content = add(this.formInline.name,
                    this.formInline.sex,
                    this.formInline.age,
                    this.formInline.phone);
                var oSerializer = new XMLSerializer();
                var sXML = oSerializer.serializeToString(content);  //序列化不可少
                // console.log(sXML);
                $.ajax({
                    url: '/customer/addCustomer/',
                    data: JSON.stringify({
                        'info': sXML
                    }),
                    type: 'post',
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        if (data.msg == 'success') {
                            location.reload()
                        }
                    }
                });
            }
        }
    })

    var switch_button = new Vue({
        el: "#switch_button",
        data() {
            return {}
        },
        methods: {}
    })

</script>
</body>
</html>