<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src={{ url_for('static', filename='trade/trade_do_xml.js') }}></script>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-12 column" id="switch_button">
                    <h3>
                        CRM系统
                    </h3>
                    <a href={{ url_for('customer.get_customers') }}>
                        <el-button>Customer</el-button>
                    </a>
                    <a href={{ url_for('product.get_products') }}>
                        <el-button>Product</el-button>
                    </a>
                    <el-button disabled>Trade</el-button>
                </div>
            </div>
            <div class="row clearfix">
                <div id="fuck">
                    <el-table id="customer_table"
                              :data="tableData"
                              stripe
                              style="width: 100%">
                        <el-table-column
                                prop="id"
                                label="ID">
                        </el-table-column>
                        <el-table-column
                                prop="customer"
                                label="客户">
                        </el-table-column>
                        <el-table-column
                                prop="product"
                                label="产品">
                        </el-table-column>
                        <el-table-column
                                prop="num"
                                label="数量">
                        </el-table-column>
                        <el-table-column
                                prop="total"
                                label="总计">
                        </el-table-column>
                        <el-table-column
                                prop="option"
                                fixed="right"
                                align="center"
                                label="操作">
                            <template slot-scope="scope">
                                <el-button
                                        type="danger"
                                        @click="handleDelete(scope.row.id)">删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <el-form id="customer_add_form" rules="rules" :inline="true" :model="formInline"
                         class="demo-form-inline">
                    <el-form-item label="客户">
                        <el-select v-model="formInline.c_value" placeholder="请选择">
                            <el-option
                                    v-for="item in formInline.customer"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="产品">
                        <el-select v-model="formInline.p_value" placeholder="请选择" @change="get_count()">
                            <el-option
                                    v-for="item in formInline.product"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="数量">
                        <el-select v-model="formInline.n_value" filterable placeholder="请选择" @change="get_total()">
                            <el-option
                                    v-for="item in formInline.num"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="总计">
                        <el-input v-model="formInline.total" placeholder="总计"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">添加</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</div>

<script>
    var customer_table = new Vue({
        el: '#fuck',
        data: {
            tableData: prase_xml('{{ trades|tojson }}'),
            dialogFormVisible: false,
            edit_data: {}
        },
        methods: {
            handleDelete: function (id) {
                del(id)
            },
            edit: function (row_data) {
                this.dialogFormVisible = true;
                this.edit_data = {
                    'id': row_data.id,
                    'customer': row_data.customer,
                    'product': row_data.product,
                    'num': row_data.price,
                    'total': row_data.total
                }
            }
        }
    });

    var customer_add_form = new Vue({
        el: '#customer_add_form',
        data() {
            return {
                formInline: {
                    customer: {{ customers|tojson }},
                    product: {{ products|tojson }},
                    num: [],
                    total: '',
                    c_value: '',
                    p_value: '',
                    p_id: '',
                    n_value: '',
                    price: 0
                },
                rules: {
                    customer: [
                        {required: true, message: '请选择活动区域', trigger: 'change'}
                    ]
                }
            }
        },
        methods: {
            onSubmit() {
                content = add(this.formInline.c_value,
                    this.formInline.p_id,
                    this.formInline.p_value,
                    this.formInline.n_value,
                    this.formInline.total);
                var oSerializer = new XMLSerializer();
                var sXML = oSerializer.serializeToString(content);  //序列化不可少
                // console.log(sXML);
                $.ajax({
                    url: '/trade/addTrade/',
                    data: JSON.stringify({
                        'info': sXML,
                        'pid': this.formInline.p_id,
                        'num': this.formInline.n_value
                    }),
                    type: 'post',
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        if (data.msg == 'success') {
                            location.reload()
                        }
                    }
                });
            },
            get_count() {
                for (var i = 0; i < this.formInline.product.length; i++) {
                    if (this.formInline.product[i]['value'] = this.formInline.p_value) {
                        var count = this.formInline.product[i]['count'];
                        for (var j = 1; j <= count; j++) {
                            this.formInline.num.push({'value': j, 'label': j})
                        }
                        this.formInline.price = this.formInline.product[i]['price'];
                        this.formInline.p_id = this.formInline.product[i]['value'];
                        break
                    }
                }
            },
            get_total() {
                this.formInline.total = this.formInline.price * this.formInline.n_value
            }
        }
    });

    var switch_button = new Vue({
        el: "#switch_button",
        data() {
            return {}
        },
        methods: {}
    })

</script>
</body>
</html>